<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="chocolatey.lib" version="0.10.11" targetFramework="net45" />
  <package id="log4net" version="2.0.3" targetFramework="net45" />
  <package id="Vanara.Core" version="1.1.0" targetFramework="net46" />
  <package id="Vanara.PInvoke.ComCtl32" version="1.1.0" targetFramework="net46" />
  <package id="Vanara.PInvoke.Gdi32" version="1.1.0" targetFramework="net46" />
  <package id="Vanara.PInvoke.Kernel32" version="1.1.0" targetFramework="net46" />
  <package id="Vanara.PInvoke.Ole" version="1.1.0" targetFramework="net46" />
  <package id="Vanara.PInvoke.Security" version="1.1.0" targetFramework="net46" />
  <package id="Vanara.PInvoke.Shared" version="1.1.0" targetFramework="net46" />
  <package id="Vanara.PInvoke.Shell32" version="1.1.0" targetFramework="net46" />
  <package id="Vanara.PInvoke.ShlwApi" version="1.1.0" targetFramework="net46" />
  <package id="Vanara.PInvoke.User32" version="1.1.0" targetFramework="net46" />
  <package id="Vanara.PInvoke.User32.Gdi" version="1.1.0" targetFramework="net46" />
</packages>